/* Nave */
@media screen and (max-width: 500px) {
    .nav .container {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        margin-top: 2rem;
    }

    /* Hero */
    .hero h2 {
        font-size: 2.5rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    /* Download */
    .download .img-2 {
        width: 39%;
        position: absolute;
        bottom: -1rem;
        left: -3rem;
    }
}