/* Nave */
@media screen and (max-width: 425px) {
    .nav .container {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        margin-top: 2rem;
    }

    /* Hero */
    .hero h2 {
        font-size: 2.5rem;
    }

    .hero h1 {
        font-size: 4rem;
    }
}