/* Nave */
@media screen and (max-width: 1140px) {
    .download {
        flex-direction: column;
        gap: 3rem;
        text-align: center;
    }

    .download h2,
    .download p {
        text-align: center;
    }
}

@media screen and (max-width: 1120px) {
    .hero .container {
        margin: 0 5rem;
    }

    /* Download */
    .download .img-2 {
        width: 25%;
        position: absolute;
        bottom: -1rem;
        left: -3rem;
    }
}

@media screen and (max-width: 768px) {
    .nav .container {
        flex-direction: column;
    }

    .nav {
        padding-bottom: 3rem;

    }

    .nav ul {
        flex-direction: column;
        margin-top: 2rem;
    }


    .hero .container {
        flex-direction: column-reverse;
        gap: 5rem;
        margin: 0 2rem;
    }

    .hero .main-img {
        width: 60%;
    }

    .hero h2 {
        font-size: 4rem;
    }

    .hero h1 {
        font-size: 6rem;
    }

    /* Videos */
    .videos .boxes {
        display: flex;
        margin-top: 2rem;
    }

    .videos h1 {
        font-size: 2rem;
    }



}